*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: whitesmoke;
  transition: .3s ease all;
}
/*
SWITCH
*/

.switch {
  background: #343D5B;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.switch::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
  background: orange;
  color: #000;
}

.switch.active::after {
  right: 0;
  left: unset;
}

.switch span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #fff;
}

/*
CONTENIDO
*/

.container{
  margin: 30px auto;
  padding: 30px ;
  width: 40%;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: wheat;
}
h1{
  font-family: cursive;
  color: brown;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.search {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
input {
  padding: 10px 10px;
  outline: none;
  width: 50%;
  border: none;
  font-family: "Cambria";
  font-size: 15px;
  font-weight: bolder;
}
.btn-add {
  padding: 10px 15px;
  border: none;
  color: whitesmoke;
  font-family: fantasy;
  font-size: 15px;
  background-color: teal;
  outline: none;
  cursor: pointer;
}

.btn-add:hover {
color: #e31746;
}
.empty{
  margin-top: 20px;
  color: teal;
  font-weight: bold;
  font-size: 15px;
}
.li-container {

  width: 100%;
  color: darkslategray;
  margin-top: 20px;
}
ul{
  padding: 0;
}
li {
  list-style: none;
  background-color: lightseagreen;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;

}

li p {
  margin: 0;
  padding: 10px;
  width: 100%;
  color: whitesmoke;
  font-size: 18px;
  font-family: cursive;
  font-weight: bolder;
}
.btn-delete {
  margin-left: auto;
  border: none;
  background-color: #e31746;
  color: whitesmoke;
  font-weight: bolder;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 10%;
  font-size: 15px;
}

.btn-delete:hover {
background: whitesmoke;
color: #e31746;
}
/* 
FOOTER
*/
footer{
  margin-top: 60px;
  text-align: center;
  }
  footer p{
    font-size: 15px;
    font-weight: bold;
    color: darkslategrey;
  }
  footer .social{
  justify-content: center;
  text-align: center;
  align-items: center;
  }
  footer a{
    margin: 30px ;
   padding: 30px;
    color: black;
    font-size: 30px;
    transition: .3s ease all;
  
  }
  footer a:hover{
    color: darkslategrey;
  }
/*
MODO OSCURO
*/
body.dark{
  background: rgb(0, 0, 22);
}
body.dark .container{
  background: rgb(0, 0, 22);
  border: 2px solid cyan;
  border-radius: 50px;
}
body.dark h1{
  color: crimson;
}
body.dark .empty{
  color: aquamarine;
}
body.dark footer p{
  color: darkcyan;
}
body.dark footer a{
  color: lightseagreen;
}
body.dark footer a:hover{
  color: aqua;
}


/*
RESPONSIVE
*/
@media  screen and (max-width:900px) {
  .container{
    width: 60%;
  }
}
@media  screen and (max-width:620px) {
  .container{
    width: 80%;
  }
  input{
    width: 70%;
  }
}
@media  screen and (max-width:420px) {
  .container{
    width: 90%;
  }
input{
  width: 80%;
}
.btn-delete{
  width: 20%;
  font-size: 12px;
}
.footer p{
  font-size: 12px;
}
}